

/* ROOT */
:root{
    --text-color:#9e9aa8;
    --text-color-dark:#34313d;
    --accent-color:#2bd0d0;
    --accent-color-hover: #9AE3E3;
    --light-bg: #EFF1F7;
    --dark-bg: #232127;
    --active-color:rgb(36, 27, 168);
    --error-color: #f46363;
}


/* FONT-FACE */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('/fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

*:focus{
    outline: 3px dashed #4e2ea8;
    outline-offset: 2px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:"Poppins", "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.button {
    display: block;
    border: 0;
    padding: 14px 40px 12px;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: normal; 
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 28px;
}

.button:hover{
    background-color: var(--accent-color-hover);
}

.button:active{
    opacity: 0.6;
}

.button-small {
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
}

.button--big{
    padding: 18px 40px 16px; 
}

.button--rectangle{
    border-radius: 5px;
}

.button--rectangle-big{
    border-radius: 10px;
}

/* SITE-HEADER */
.site-header {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: bold;
    line-height: normal;
}

.site__header-container {
    display: flex;
    align-items: center;
}

.site-hedaer__logo {
    margin-right: 45px;
}


/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 120px;
    height: 33px;
    object-fit: contain;
}

.site__header-sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.site-header__auth {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.site-header__login-link {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 32px;
}

.site-header__login-link:hover {
    color: var(--heading-color);
}

.site-header__login-link:active {
    opacity: 0.6;
}


/* MAIN-CONTENT */
/* HERO */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url(../img/working_with_computer.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 436px) top 30px;
}

.hero__inner {
    max-width: 565px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--text-color-dark);
}

.hero__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
}

.button {
}
.button--big {
}




