

/* ROOT */
:root{
    --text-color:#9e9aa8;
    --text-color-dark:#34313d;
    --accent-color:#2bd0d0;
    --accent-color-hover: #9AE3E3;
    --light-bg: #EFF1F7;
    --dark-bg: #232127;
    --active-color:rgb(36, 27, 168);
    --error-color: #f46363;
}


/* FONT-FACE */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('/fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

*:focus{
    outline: 3px dashed #4e2ea8;
    outline-offset: 2px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:"Poppins", "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}


/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgb(52, 49, 61);
    opacity: 1;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.button {
    display: block;
    border: 0;
    padding: 14px 40px 12px;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: normal; 
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 28px;
    white-space: nowrap;
    width: 197px;
}

.button:hover{
    background-color: var(--accent-color-hover);
}

.button:active{
    opacity: 0.6;
}

.button-small {
    width: 105px;
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
    margin-right: 20px;
}

.button--big{
    padding: 10px 40px 16px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    margin-left: 6px;
    margin-top: -5px;
}

.button--rectangle{
    border-radius: 5px;
}

.button--rectangle-big{
    /* margin-left: 39px; */
    border-radius: 10px;
}

/* SITE-HEADER */
.site-header {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: bold;
    line-height: normal;
}

.site__header-container {
    display: flex;
    align-items: center;
}

.site-hedaer__logo {
    margin-right: 45px;
}


/* LOGO */
.logo {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 120px;
    height: 33px;
    object-fit: contain;
}

.site__header-sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.site-header__auth {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.site-header__login-link {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 40px;
}

.site-header__login-link:hover {
    color: var(--heading-color);
}

.site-header__login-link:active {
    opacity: 0.6;
}


/* MAIN-CONTENT */
/* HERO */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url(../img/working_with_computer.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 471px) top 30px;
}

.hero__inner {
    max-width: 565px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--text-color-dark);
}

.hero__text {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
}


/* INDEX-URL-SHORTENER-FEATURES-WRAPPER */
.index-url-shortener-features-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
}

.index-url-shortener-features-wrapper__url-shortener {
    margin-top: -206px;
    margin-bottom: 120px;
}


/* URL-SHORTENER */

.url-shortener__form {
    display: flex;
    padding: 52px 91px;
    border-radius: 10px;
    margin-bottom: -3px;
    background-color: #4B3F6B;
    background-image: url(../img/form-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.url-shortener__input-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.url-shortener__input {
    margin-top: -2px;
    margin-left: -18px;
    flex-grow: 1;
    display: block;
    width: 100%; 
    padding: 14px 32px;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    line-height: 36px;
    color: var(--text-color-dark);
}

.url-shortener__error-msg {
    display: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid{
    border-color: red;
}


/* URL-SHORTENER-RESULTS */
.url-shortener__results {
    display: none;
    font-size: 20px;
    line-height: 36px;
}

.url-shortener__results--open{
    display: block;
}

.url-shortener__result {
    display: flex;
    align-items: center;
    border-radius: 5px ;
    padding: 16px 24px;
    background-color: #fff;
    color:var(--text-color-dark);
    margin-bottom: 16px;
}

.url-shortener__original-link {
    width: 100%;
    margin-right: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.url-shortener__short-link {
    margin-right: 24px; 
    text-decoration: none;
    color: var(--accent-color);
}

.url-shortener__copy-button{
    min-width: 103px;
}

.url-shortener__copy-button--copied{
    background-color: #3a3054;
}


/* INDEX-FEATURES */
.index-features {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light-bg);

}

.index-features__top {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -34px;
}

.index-features__title {
    font-size: 40px;
    line-height: 48px; 
    color: var(--text-color-dark);
}

.index-features__top-info {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    margin-top: -15px;
}

.index-features__list {
    position: relative;
    z-index: 1;
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    /* padding-top: 56px; */
    font-style: normal;
}

.index-features__list::before{
    position: absolute;
    z-index: -1;
    margin-left: 0px;
    top: 152px;
    width: 90%;
    height: 8px;
    background-color: var(--accent-color);
    content: "";
}

.index-features__item {
    width: 350px;
}

.index-features__item:nth-child(2){
    margin-top: 44px;
}

.index-features__item:nth-child(3){
    margin-top: 88px;
}

.index-features__item:not(:last-child){
    margin-right: 30px;
}

.index-feature {
    position: relative;
    padding: 77px 32px 40px;
    border-radius: 5px;
    background-color: #fff;
}

.index-feature__icon-wrapper {
    position: absolute;
    left: 32px;
    top:-44px;
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    background-color: #3a3054;
    border-radius: 50%;
}

.index-feature__title{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: normal;
    color: var(--text-color-dark);
    margin-left: 8px;
}

.index-feature__info {
    margin-left: 10px;
    margin: 0;
}


/* CTA */
.cta {
    padding-top: 57px;
    padding-bottom: 57px;
    background-image: url(../img/cta-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.cta__title {
    margin-left: 12px;
    margin-top: -3px;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
}

